.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255,255,255,0.3),
    rgba(255,255,255,0.3)) ,
    url(https://wallpapercave.com/dwp2x/wp10620986.jpg);
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm>label{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: whitesmoke;
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: salmon;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.loginRegisterButton{
    position: absolute;
    top:60px;
    right:20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}